.datepicker input {
    padding: 0.2rem 0.5rem;
    background-color: #D9D9D9;
    border: 0;
    border-radius: 1rem;
    font-size: 0.8rem;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
}

.datepicker label{
    font-size: 1rem;
    display: block;
    margin-top: 0.5rem;
}


.datepicker .error-text {
    font-size: 0.6rem;
    color: red;
    font-family: 'Karla', sans-serif;
}

.datepicker .error-input {
    box-shadow:inset 0 0 0 0.1rem red;
}


@media (min-width: 600px){
    .datepicker input {
        font-size: 1rem;
    }

    .datepicker label {
        font-size: 1.5rem;
    }
    .datepicker .error-text {
        font-size: 0.9rem;
    }
}


@media (min-width: 800px){
    .datepicker input {
        font-size: 1.5rem;
    }
    .datepicker label {
        font-size: 2rem;
    }
    .datepicker .error-text {
        font-size: 1.2rem;
    }
}

@media (min-width: 1400px){
    .datepicker input {
        font-size: 2rem;
    }
    .datepicker label {
        font-size: 2.5rem;
    }
    .datepicker .error-text {
        font-size: 1.5rem;
    }
}