body {
  font-family: "Markazi Text", serif;
  }

.lemon-yellow-text {
  color: #F4CE14;
}

.lemon-green-bg {
  background-color: #495E57;
}

.white-text {
  color: white;
}

.karla-text {
  font-family: 'Karla', 'sans-serif';
}

.row {
  padding: 0 15%;
}
