.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    background-color: #EDEFEE;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer a {
    text-decoration: none;
    color: black;
}

footer div {
    width: 20%;
}

footer img {
    width: 20vw;
    max-height: 20rem;
    object-fit: contain;
}

footer b {
    color: #495E57;
}


@media (min-width: 600px){
    .footer {
        padding-top: 4rem;
        padding-bottom: 4rem;
        font-size: 1rem;
    }
}

@media (min-width: 800px){
    .footer {
        padding-top: 6rem;
        padding-bottom: 6rem;
        font-size: 1.4rem;
    }
}

@media (min-width: 1400px){
    .footer {
        padding-top: 8rem;
        padding-bottom: 8rem;
        font-size: 2rem;
    }
}

